body {
  background: DarkSlateGray;
  font-family: 'Secular One', sans-serif;
  font-color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

comics {
  margin: 0 auto;
  width: 100%;
}

comic {
  display:inline-block;
  height: 700px;
  max-width: 300px;
  overflow: hidden;
  padding: 0 5px;
}

comic-title {
  display: block;
  text-align: center;
  text-decoration: bold;
  font-size: 20px;
  margin-bottom:0px;
  transition: transform 1s;
}

comic img {
  transform: scale(5.0);
  width: 300px;
  float: top;
  transition: transform .5s;
  }


comic:hover img {
  position: relative;
  transform: scale(.8);
  z-index: 40;
  overflow: hidden;
  margin-top: -20px;
}

comic-description {
  font-size: 16px;
  color: #fff;
  margin-top:  -40px;
  margin: 0 5px;
  padding: 0 10px;
  text-align: center;
}