body {
  background: DarkSlateGray;
}

h1 {
  text-align: center;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

comics {
  margin: 0 auto;
  width: 100%;
}

comic {
  display:inline-block;
  height: 500px;
  max-width: 300px;
  overflow: hidden;
}

comic-title {
  display: block;
  text-align: center;
  text-decoration: bold;
  font-size: 20px;
  margin-bottom:0px;
  transition: transform 1s;
}

comic-title:hover {
  display: block;
  text-align: center;
  text-decoration: bold;
  font-size: 20px;
  margin-bottom:0px;
  transform rotateZ(1080deg);
}

comic img {
  transform: scale(5.0);
  min-height: 300px;
  width: 300px;
  float:left;
  transition: transform .5s;
  }


comic:hover img {
  transform: scale(1.0);
  transform: rotateX(1080deg);
  -webkit-transform: rotateX(1080deg);
  position: relative;
  z-index: 40;
}